# wrangler.toml
name = 'cloudflare-ai-lnsight-daily'
main = "src/index.js" # <-- Important: path to your main worker script
compatibility_date = "2025-05-20" # Or your project's compatibility date
workers_dev = true

kv_namespaces = [
  { binding = "DATA_KV", id = "bd98e664917441a08118edc88790bf3f" }
]

[vars]
IMG_PROXY = ""  #图片代理链接，用于处理图片不显示
OPEN_TRANSLATE = "true"
USE_MODEL_PLATFORM = "OPEN" #ANTHROPIC, OPEN, GEMINI
ANTHROPIC_API_KEY = "sk-ant-oat01-WhDJETbu1mVkAz4UysY5o7MZUdDLtZhQGdUGmkWp91cByD1j63jKbOPydPXPSB5tFfyiEyueE1sIKrLsdqG885D6dMZX9AA"
ANTHROPIC_API_URL = "https://code.newcli.com/claude/aws"
DEFAULT_ANTHROPIC_MODEL = "claude-sonnet-4-20250514"
OPENAI_API_KEY = "sk-ant-oat01-WhDJETbu1mVkAz4UysY5o7MZUdDLtZhQGdUGmkWp91cByD1j63jKbOPydPXPSB5tFfyiEyueE1sIKrLsdqG885D6dMZX9AA"
OPENAI_API_URL = "https://code.newcli.com/codex"
DEFAULT_OPEN_MODEL = "gpt-5"
GEMINI_API_KEY = "AIzaSyCt8HMoS2LeOiF73VUM1paER2teCUlJRAw"
GEMINI_API_URL = "https://generativelanguage.googleapis.com"
DEFAULT_GEMINI_MODEL = "gemini-1.5-flash"
FOLO_COOKIE_KV_KEY = "folo_auth_cookie" 
FOLO_DATA_API = "https://api.follow.is/entries"
FOLO_FILTER_DAYS = 1
NEWS_AGGREGATOR_LIST_ID = "220872364473472000" 
NEWS_AGGREGATOR_FETCH_PAGES = "1" 
HGPAPERS_LIST_ID = "158437917409783808"
HGPAPERS_FETCH_PAGES = "1"
TWITTER_LIST_ID = "153028784690326528" 
TWITTER_FETCH_PAGES = "1" 
REDDIT_LIST_ID = "167576006499975168" 
REDDIT_FETCH_PAGES = "1" 
PROJECTS_API_URL = "https://git-trending.justlikemaki.vip/topone/?since=daily"
GITHUB_TOKEN = "github_pat_xxxxxx"
GITHUB_REPO_OWNER = "dongyu19920904"
GITHUB_REPO_NAME = "CloudFlare-AI-Insight-Daily"
GITHUB_BRANCH = "main"
LOGIN_USERNAME = "qqee1133"
LOGIN_PASSWORD = "1133qqee"
DAILY_TITLE = "AI洞察日报"
DAILY_TITLE_MIN = " `AI 日报` "
PODCAST_TITLE = "来生小酒馆"
PODCAST_BEGIN = "嘿，亲爱的V，欢迎收听新一期的来生情报站，我是你们的老朋友，何夕2077"
PODCAST_END = "今天的情报就到这里，注意隐蔽，赶紧撤离"
BOOK_LINK = ""
INSERT_FOOT = "false"
INSERT_AD = "false"
INSERT_APP_URL = "<h3>[查看完整版AI日报↗️ https://ai.hubtoday.app/](https://ai.hubtoday.app/)</h3>"